body {
    background-color: rgb(200, 200, 200);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 13vh 10vh 7vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: black;
    filter: drop-shadow(0 0 15px rgb(100, 100, 100));
    border-radius: 35px;
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
}

.square {
    background-color: white;
    border-radius: 35px;
    width: 31%;
    height: 31%;
    filter: drop-shadow(5px 5px 5px rgb(200, 200, 200));
    position: relative;

}

.square:hover {
    background-color: rgb(175, 175, 175);
}

.line {
    width: 10%;
    height: 70%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}

.line1 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.line2 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

.circle1 {
    width: 70%;
    height: 70%;
    background-color: black;
}

.circle2 {
    width: 50%;
    height: 50%;
    background-color: inherit;
}